[Unit]
Description=Check game health every five minutes

[Timer]
OnBootSec=2min
OnUnitActiveSec=5min
AccuracySec=15s

[Install]
WantedBy=timers.target
